@*@using static Microsoft.AspNetCore.Components.Authorization.AuthorizeView*@
@inject ApplicationDbContext _context
@inject RequestService _req

@code {
    private List<Request> Requests = new List<Request>();    
    private int ReqAmount = Requests.Count;

    protected override void OnInitialized()
    {
        Requests = await _req.GetAllRequestsFromUser(User.Identity.Name);
        ReqAmount = Requests.Count;
    }

    private void AcceptRequest(int reqId)
    {
        await _req.AcceptRequestFromUserWithId(User.Identity.Name, reqId);
    }

    private void DeclineRequest(int reqId)
    {
        await _req.RejectRequestFromUserWithId(User.Identity.Name, reqId);
    }
}

<AuthorizeView>
    <Authorized>
        <div class="dropdown custom-dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-link" aria-haspopup="true" aria-expanded="false">
              <span class="wrap-icon icon-notifications"></span>
              <span class="number">@ReqAmount</span>              
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <div class="title-wrap d-flex align-items-center">
                <h3 class="title mb-0">Notifications</h3>
              </div>

              <ul class="custom-notifications">
                @foreach (var item in Requests)
                {
                    <li class="unread">
                        <a href="#" class="d-flex">
                            <div class="img mr-3">
                                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                <strong>@item.Sender.UserName</strong> sent you a @item.Type.Type Request                      
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <button @onclick="@AcceptRequest(item.Id)" class="btn btn-success w-75">Accept</button>
                                    </div>
                                    <div class="col">
                                        <button @onclick="@DeclineRequest(item.Id)" class="btn btn-danger w-75">Decline</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                </ul>

                
            </div>
          </div>

        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

